<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CrossDomainPolicy">
      <section name="Policy" type="System.Configuration.SingleTagSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ListeningAddress" value="127.0.0.1" />
    <add key="ListeningPort" value="81" />
    <add key="TotalAllowedConnections" value="0" />
    <add key="BufferSize" value="1024" />
  </appSettings>
  <CrossDomainPolicy>
    <Policy>
      <![CDATA[
<?xml version="1.0"?>
<!DOCTYPE cross-domain-policy SYSTEM "http://www.adobe.com/xml/dtds/cross-domain-policy.dtd">
<cross-domain-policy>
  <allow-access-from domain="localhost" to-ports="*" />
</cross-domain-policy>
]]>
    </Policy>
  </CrossDomainPolicy>
</configuration>